@model StudentInfoModel[]
<style>
.student-table {
    width: 100%
}
.student-table th {
border: 1px solid #9c9c9c;
padding: 8px 12px;
background: #ffd7d7;
}
.student-table td {
padding: 4px 8px;
border: 1px solid #d6d6d6;
}
</style>

<h1>Contact Form</h1>

<table border="1" class="student-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Student ID</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.StudentId</td>
                <td>@student.StudentAge</td>
            </tr>
        }
    </tbody>
</table>
